@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Lavishly+Yours&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

h1 {
    color: antiquewhite;
    font-size: 75px;
    font-family: 'Lavishly Yours', cursive;
    text-shadow: #000000 2px 0 20px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

main ul li {
    padding: 10px;
}

input {
    border-radius: 7px;
}

.btn {
    width: 190px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: red;
    cursor: pointer;
}